<div class="row">
  <div class="col-md-5">
    <app-recipe-list (recipeSelected)="selectedRecipe = $event"></app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail 
      *ngIf="selectedRecipe"
      [recipe]="selectedRecipe">
    </app-recipe-detail>
    <span *ngIf="!selectedRecipe" #infoText>
      <p appBasicHighlight>Please select a recipe...</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'blue'">Please select a recipe...</p>
    </span>
  </div>
</div>

<!-- *ngIf="selectedRecipe; else infoText" can't make this work!!!-->